.about {
  padding-top: 31px;

  @include tablet() {
    padding-top: 55px;
  }

  @include desktop() {
    padding-top: 68px;
    padding-left: 224px;
  }
}

.about__list {
  @include tablet() {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  line-height: 20px;
  padding: 82px 0 0 0;
  background-position: top 28px left 8px;
  background-repeat: no-repeat;

  @include tablet() {
    width: 50%;
    line-height: 22px;
  }

  &:first-child {
    background-image: url("../img/about-images/flower.png");
  }

  &:nth-child(2) {
    background-image: url("../img/about-images/money.png");
  }

  &:nth-child(3) {
    background-image: url("../img/about-images/heart.png");
  }

  &:nth-child(4) {
    background-image: url("../img/about-images/threads.png");
  }

  &:nth-child(5) {
    background-image: url("../img/about-images/rocket.png");
  }

  &:last-child {
    background-image: url("../img/about-images/gift.png");
  }
}
