.copyright {
  display: flex;
  border-top: 1px solid $border-item;
  justify-content: center;

  @include tablet() {
    border: none;
  }

  &:hover &__link {
    opacity: 0.6;
  }

  &:active &__link {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-right: 27px;
}
