.copyright {
  display: flex;
  border-top: 1px solid $border-item;
  justify-content: center;

  @include tablet() {
    border: none;
  }

  &__link {
    color: $color-aqua;

    &:hover,
    &:focus-visible {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }
}

.copyright__text {
  margin-right: 27px;
}
