.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $background;

  @include tablet() {
    padding-top: 52px;
    padding-bottom: 58px;
  }

  @include desktop() {
    padding-top: 53px;
  }
}

.footer__container {
  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;

  @include tablet() {
    display: block;
  }
}

.footer__logo-img {
  &:hover,
  &:focus-visible {
    fill: $color-aqua;
  }

  &:focus {
    fill: rgba($color-aqua, 0.3);
  }
}

.footer__copyright {
  margin-top: 41px;

  @include tablet() {
    margin-top: 0;
  }
}

.footer__social-list {
  margin: 0 auto;

  @include tablet() {
    margin: 0;
  }
}
