.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  @include tablet() {
    padding-top: 51px;
    padding-bottom: 58px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  @include tablet() {
    display: block;
  }
}

.footer__copyright {
  padding-top: 22px;

  @include tablet() {
    padding: 0;
  }
}

.footer__social-list {
  margin: 0 auto 28px auto;

  @include tablet() {
    margin: 0;
  }
}
