@import "../global/color.scss";

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: $text;
}

.form__group {
  padding: 0;
  border: none;
}

.form-container__description {
  font-size: 13px;
  color: $text;
  margin: 0;
}

.group__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

.group__title {
  text-transform: uppercase;
  color: $sub-title;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}
