.form-container__title {
  padding: 74px 0;
  background-color: $color-white-dark;
  margin: 0 -50px;
  text-align: center;
}

.form-container__description {
  line-height: 24px;
  padding-top: 17px;
  padding-bottom: 29px;
  font-size: 13px;
  color: $text;
  margin: 0;

  @include tablet() {
    padding-bottom: 13px;
  }
}
