.form-container__title {
  padding: 74px 0;
  background-color: $color-white-dark;
  text-align: center;

  @include tablet() {
    padding: 96px 0 86px 0;
  }

  @include desktop() {
    padding: 101px 0 114px;
  }
}

.form-container__description {
  line-height: 24px;
  padding-top: 3px;
  font-size: 13px;
  color: $text;

  @include tablet() {
    padding-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 52px;
  }

  @include desktop() {
    margin-left: 175px;
    margin-top: 95px;
    max-width: 700px;
  }
}
