.form-container__title {
  padding: 74px 0;
  background-color: $color-white-dark;
  text-align: center;
}

.form-container__description {
  line-height: 24px;
  padding-top: 17px;
  font-size: 13px;
  color: $text;

  @include tablet() {
    padding-bottom: 13px;
  }

  @include desktop() {
    margin-left: 170px;
  }
}
