.form__footer {
  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: $text;
  margin: 0;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  width: 100%;
  margin-top: 30px;

  @include tablet() {
    order: -1;
    width: auto;
    margin: 0;
  }
}
