.group {
  position: relative;
  border: none;
  border-top: 1px solid $border-field;
  padding: 0;
  margin: 0;

  @include tablet() {
    border-top: none;
    padding: 50px 0 50px 167px;
  }
}

.group--background {
  @include tablet() {
    background-color: $color-white-dark;
    margin: 0 -50px;
    padding-left: 219px;
    padding-right: 50px;

    .group__title {
      left: 50px;
    }
  }
}

.group__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  @include tablet() {
    display: flex;
    align-items: center;
  }
}

.group__title {
  text-transform: uppercase;
  color: $sub-title;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  width: 65px;
  box-sizing: border-box;

  @include tablet() {
    position: absolute;
    top: 73px;
    left: 0;
  }
}

.group__radio:checked + .group__label--radio::after {
  // Заюзать как то
}

.group__checkbox:checked + .group__label--checkbox::before {
  // Заюзать как то
}

.group__area {
  font-family: "Open sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  border: 2px solid $color-black;
  padding: 17px;
  box-sizing: border-box;

  @include desktop() {
    max-width: 700px;
  }
}

.group--table {
  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 0;
  }

  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.group--name {
  @include desktop() {
    padding-right: 175px;
  }
}
