.group {
  position: relative;
  border: none;
  border-top: 1px solid $border-field;
  padding: 30px 0;

  @include tablet() {
    border-top: none;
    padding: 50px 0 50px 167px;
  }
}

.group--color {
  padding-top: 25px;
  padding-bottom: 33px;
}

.group--name {
  padding-bottom: 35px;
}

.group--name input {
  @include tablet() {
    margin-left: 24px;
  }
}

.group--phone {
  padding-top: 0;
  padding-bottom: 35px;

  @include tablet() {
    padding-top: 50px;
    padding-bottom: 24px;
  }
}

.group--phone input {
  background-image: url("../img/about-images/input-phone.svg");
  background-repeat: no-repeat;
  background-position: center right 7px;

  @include tablet() {
    background-position: center right 26px;
  }

  @include desktop() {
    background-position: center right 8px;
  }
}

.group--email {
  padding-top: 0;
}

.group--email input {
  background-image: url("../img/about-images/input-mail.svg");
  background-repeat: no-repeat;
  background-position: center right 3px;

  @include tablet() {
    background-position: center right 22px;
  }

  @include desktop() {
    background-position: center right 4px;
  }
}

.group__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  @include tablet() {
    display: flex;
    align-items: center;
  }
}

.group__title {
  text-transform: uppercase;
  color: $sub-title;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  width: 65px;
  box-sizing: border-box;

  @include tablet() {
    position: absolute;
    top: 73px;
    left: 0;
  }

  @include desktop() {
    left: 47px;
  }
}

.group__title--email {
  @include tablet() {
    top: 17px;
  }
}

.group__radio:checked + .input-radio::after {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 100%;
  content: "";
  width: 18px;
  height: 18px;
  background-color: $color-aqua-dark;

  @include tablet() {
    top: 15px;
    left: 15px;
    height: 22px;
    width: 22px;
  }
}


.input-radio:not(:first-of-type) {
  margin-top: 11px;

  @include tablet() {
    margin-top: 24px;
  }
}

.group__checkbox:checked + .input-checkbox::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 7px;
  width: 23px;
  height: 16px;
  background-image: url("../img/background-images/checked.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include tablet() {
    top: 16px;
    left: 10px;
    height: 22px;
    width: 32px;
  }
}

.group__area {
  font-family: "Open sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  border: 2px solid $color-black;
  padding: 17px;
  box-sizing: border-box;
  resize: vertical;

  &:hover,
  &:focus-within {
    border-color: $color-aqua;
  }

  &:active,
  &:focus {
    border-color: rgba($color-aqua, 0.6);
  }
}

.group--table {
  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 0;
  }

  @include desktop() {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
