.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet() {
    justify-content: start;
    border-bottom: 1px solid rgba($color-black, 0.1);
  }

  @include desktop() {
    justify-content: center;
  }

  &--no-js {
    @include mobile-only() {
      display: flex;
      flex-direction: column;
    }

    .header__toggle {
      top: 39px;
    }
  }
}

.header__logo {
  display: inline-block;
  z-index: 2;
  padding: 22px 2px 13px 0;

  @include tablet-only() {
    margin-left: 50px;
    padding: 22px 0 16px;
  }

  @include desktop() {
    padding: 0;
    padding-top: 7px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.header__toggle {
  width: 21px;
  height: 20px;
  background-image: url("../img/button-images/menu-open.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 31px;

  @include tablet() {
    display: none;
  }
}

.header__toggle--closed {
  background-image: url("../../img/button-images/menu-close.png");
}
