.info {
  position: relative;
  background-image: url("../img/background-images/info-mobile.png");
  background-repeat: no-repeat;
  background-position: center top -17px;
  background-color: $color-gray;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-images/info-mobile@2x.png");
    background-size: 320px auto;
  }

  @include tablet() {
    background-image: url("../img/background-images/info-tablet.png");
    background-position: center bottom 13px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/info-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  @include desktop() {
    background-image: url("../img/background-images/info-desktop.png");
    background-position: center bottom 12px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/info-desktop@2x.png");
      background-size: 1150px auto;
    }
  }
}

.info::after {
  @include tablet() {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: " ";
    width: 100%;
    height: 24px;
    background-image: url("../img/background-images/wave-tablet.png");
  }

  @include desktop {
    height: 34px;
    bottom: -5px;
    background-image: url("../img/background-images/wave-desktop.png");
  }
}

.info__title {
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 120px;

  @include tablet() {
    max-width: 668px;
    padding-top: 150px;
    padding-bottom: 372px;
  }

  @include desktop() {
    max-width: 700px;
    padding-top: 157px;
    padding-bottom: 355px;
  }
}

.info__footer {
  @include tablet() {
    display: flex;
    flex-wrap: wrap;
  }
}

.info__button {
  display: flex;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 700;
  color: $color-white;
  padding: 24px 0 31px 30px;
  margin: 0 -30px;
  background-color: $background-button-secondary;

  @include tablet () {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 0 46px 36px;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    transform: scale(1, 1.05);
  }
}


.info__button--lamp {
  background-color: $color-aqua-light;
  background-image: url("../img/button-images/lamp.png");
  background-repeat: no-repeat;
  background-position: top 23px right 36px;

  @include tablet() {
    background-position: top 30px right 36px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-aqua-dark;
  }
}

.info__button--cube {
  background-color: $color-aqua;
  background-image: url("../img/button-images/cube.png");
  background-repeat: no-repeat;
  background-position: top 21px right 27px;

  @include tablet() {
    background-position: top 31px right 33px;
  }

  @include desktop() {
    background-position: top 31px right 35px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-aqua-dark2;
  }
}
