.info {
  background: url("../../img/background-images/index-info.jpg") no-repeat center;
}

.info__button {
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center right 16px;
  color: $color-gray-light;
  border: none;

  &:first-child {
    background-image: url("../../img/button-images/lamp.svg");
    background-color: $background-button-info-first;
  }

  &:last-child {
    background-image: url("../../img/button-images/toy.svg");
    background-color: $background-button-info-second;
  }
}
