.navigation {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile-only() {
    display: none;
  }

  @include tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1150px;
    box-sizing: border-box;
    z-index: 1;
    padding: 0 50px;
    margin: 0 auto;
    grid-template-areas: "sec-list sec-list" "site-list deliv";
  }

  @include desktop() {
    grid-template-areas: "site-list sec-list" "dop-list deliv";
  }
}

.navigation--toggle {
  width: 21px;
  height: 20px;
  background-image: url("../img/button-images/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;

  @include tablet() {
    display: none;
  }
}

.navigation--open {
  @include mobile-only() {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $color-white;
  }
}

.navigation--toggle-closed {
  background-image: url("../../img/button-images/menu-close.svg");
}

.navigation__list {
  @include mobile-only() {
    width: 100%;
  }

  @include tablet() {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.navigation__site-list {
  grid-area: site-list;

  @include tablet-only() {
    font-size: 15px;
  }
}

.navigation__site-list-item {
  @include tablet-only() {
    width: 167px;
  }

  @include desktop() {
    &:not(:first-of-type) {
      padding-left: 35px;
    }

    &:first-of-type {
      padding-right: 40px;
      border-right: 1px solid rgba($color-black, 0.1);
      height: 100%;
      align-items: center;
      display: flex;
    }
  }
}

.navigation__site-list-item,
.navigation__secondary-list-item {
  @include mobile-only() {
    position: relative;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 30%;
    border-top: 1px solid rgba($color-black, 0.1);
    border-bottom: 1px solid rgba($color-black, 0.1);
  }
}

.navigation__secondary-list-icon {
  @include mobile-only() {
    position: absolute;
    top: 32px;
    left: 30px;
  }
}

.navigation__secondary-list-item--search {
  @include tablet() {
    padding-left: 31px;
    padding-right: 31px;
    border-left: 1px solid rgba($color-black, 0.1);
    border-right: 1px solid rgba($color-black, 0.1);
    height: 100%;
    align-items: center;
    display: flex;
    margin-right: 31px;
  }

  @include desktop() {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.navigation__secondary-list {
  grid-area: sec-list;

  @include tablet() {
    margin-left: auto;
  }
}

.navigation__secondary-list-card {
  @include tablet() {
    padding-left: 30px;
  }
}

.navigation__secondary-list-text {
  @include tablet() {
    display: none;
  }
}

.navigation__dop-list {
  display: none;
  grid-area: dop-list;

  @include desktop() {
    display: flex;
  }
}

.navigation__dop-list-item {
  @include desktop() {
    &:not(:first-of-type) {
      margin-left: 45px;
    }
  }
}

.navigation__delivery {
  font-weight: normal;
  margin-left: auto;
  grid-area: deliv;
  font-size: 15px;

  @include mobile-only() {
    display: none;
  }
}
