.production {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 57px;

  @include tablet() {
    padding-top: 53px;
    padding-bottom: 63px;
  }

  @include desktop() {
    padding-top: 57px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 682px auto;
  }
}

.production__title {
  display: flex;
  align-items: center;
  order: -1;
  padding-left: 34px;
  padding-top: 22px;

  @include tablet() {
    order: 0;
    margin: 19px 0 0 7px;
  }

  @include desktop() {
    margin: 0;
    padding-top: 53px;
    padding-left: 80px;
    align-items: flex-start;
    flex-direction: column;
    max-width: 200px;
  }
}

.production__title-img {
  margin-right: 25px;

  @include tablet() {
    margin-right: 33px;
    margin-top: -9px;
  }

  @include desktop() {
    margin-right: 0;
    margin-bottom: 27px;
  }
}

.production__video {
  @include mobile-only() {
    margin-top: 26px;
  }

  @include desktop() {
    grid-area: 1 / 1 / 4 / 2;
  }
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  color: $text;
  margin: 0;
  margin-top: 35px;
  padding: 0 33px;

  @include tablet() {
    font-size: 15px;
    line-height: 30px;
    margin-top: 24px;
    padding: 0 40px;
  }

  @include desktop() {
    margin: -36px 0 0;
    padding-left: 80px;
  }
}

.production__button {
  margin: 41px auto 33px;

  @include tablet() {
    margin-top: 40px;
    margin-bottom: 46px;
    width: 87%;
  }

  @include desktop () {
    margin: -14px auto auto 80px;
    max-width: 230px;
  }
}
