.product {
  padding-top: 30px;

  @include tablet() {
    padding-top: 79px;
  }

  @include desktop() {
    padding-top: 128px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 52px;
    grid-row-gap: 52px;
  }
}

.product__item {
  border: 1px solid $border-item-catalog;

  @include mobile-only() {
    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

  @include tablet-only() {
    display: flex;

    &:not(:first-of-type) {
      margin-top: 54px;
    }
  }

  @include desktop() {
    display: flex;
    flex-direction: column;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  padding: 27px 28px 26px 28px;

  @include tablet-only() {
    padding-left: 34px;
    padding-bottom: 25px;
  }

  @include desktop() {
    flex-grow: 1;
  }
}

.product__image {
  display: block;

  @include tablet() {
    height: 334px;
    width: 50%;
    object-fit: cover;
  }

  @include desktop() {
    height: 462px;
    width: 316px;
  }
}

.product__description {
  font-size: 13px;
  color: $text;
  margin: 6px 0 0 0;

  @include tablet() {
    font-size: 15px;
  }

  @include desktop() {
    padding-bottom: 12px;
  }
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;

  @include tablet() {
    font-size: 17px;
  }
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  margin-top: 17px;
  border-top: 1px solid $border-item-catalog;

  @include tablet() {
    margin-top: auto;
  }

  @include desktop() {
    margin-top: auto;
  }
}

.product__button {
  width: 20px;
  height: 20px;
}
