.product {
  @include tablet() {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 52px;
  }
}

.product__item {
  @include tablet-only() {
    display: flex;

    &:not(:first-of-type) {
      margin-top: 54px;
    }
  }

  @include desktop() {
    max-width: 315px;
  }
}

.product__info {
  @include tablet-only() {
    position: relative;
    padding-left: 34px;
    padding-bottom: 25px;
  }
}

.product__title {
  margin-top: 27px;
}

.product__image {
  @include tablet() {
    height: 334px;
    width: 334px;
  }

  @include desktop() {
    height: 462px;
    width: 316px;
  }
}

.product__description {
  font-size: 13px;
  color: $text;
  margin: 6px 0 0 0;

  @include tablet() {
    font-size: 15px;
  }
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;

  @include tablet() {
    font-size: 17px;
  }
}

.product__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;

  @include tablet-only() {
    position: absolute;
    left: 34px;
    bottom: 25px;
    width: 90%;
  }
}

.product__button {
  background: url("../../img/button-images/cart.svg") no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
}
