.promo {
  padding-top: 31px;
  padding-bottom: 36px;
  background-image: url("../img/background-images/wave2-mobile.png");
  background-repeat: repeat-x;
  background-position: bottom;

  @include tablet() {
    display: grid;
    background-image: url("../img/background-images/wave2-tablet.png");
    grid-template-columns: 292px auto;
    grid-template-areas: "pt pst" "pd pim" "pl pim" "pp pim";
    padding-top: 39px;
    padding-bottom: 52px;
  }

  @include desktop() {
    background-image: url("../img/background-images/wave2-desktop.png");
    grid-template-columns: auto 305px auto;
    grid-template-areas: "pst pt pim" "pst pd pim" "pst pl pim" "pst pp pim";
    padding-top: 70px;
    padding-bottom: 88px;
  }
}

.promo__title {
  grid-area: pt;

  @include tablet() {
    white-space: nowrap;
  }

  @include desktop() {
    z-index: 1;
    padding-top: 50px;
  }
}

.promo__sub-title {
  grid-area: pst;
  color: $sub-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin: 5px 0 0;
  text-transform: uppercase;

  @include tablet() {
    width: 100px;
    margin-left: auto;
    font-size: 17px;
    line-height: 17px;
  }

  @include desktop {
    padding-top: 52px;
    padding-right: 30px;
  }
}

.promo__description {
  grid-area: pd;
  line-height: 24px;
  margin: 17px 0 0 0;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
    margin-top: 38px;
  }

  @include desktop() {
    margin: -24px 0 0;
    max-width: 300px;
  }
}

.promo__list {
  grid-area: pl;
  margin-top: 16px;

  @include tablet() {
    margin-top: 29px;
  }

  @include desktop() {
    margin-top: -9px;
  }
}

.promo__item {
  color: $text;
  display: flex;
  line-height: 20px;
  border-bottom: 1px solid $border-item;
  padding: 10px 0;
}

.promo__item-description {
  margin: 0;
}

.promo__item-title {
  width: 97px;
}

.promo__image {
  grid-area: pim;
  margin-top: 28px;

  @include tablet() {
    margin-left: auto;
    margin-top: 22px;
  }

  @include desktop() {
    margin-top: -40px;
  }
}

.promo__image-item {
  margin-top: 28px;
  width: 260px;
  height: 315px;

  @include tablet() {
    height: 404px;
    width: 334px;
  }

  @include desktop() {
    height: 636px;
    width: 525px;
  }
}

.promo__price {
  grid-area: pp;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet() {
    margin-top: 44px;
    display: block;
    text-align: center;
  }

  @include desktop() {
    margin-top: auto;
    margin-left: -13px;
    padding-bottom: 8px;
  }
}

.promo__price-button {
  width: 100%;
  margin-top: 24px;
  justify-content: center;

  @include tablet() {
    margin-top: 32px;
  }

  @include desktop() {
    max-width: 292px;
  }
}
