.reviews__description {
  font-size: 16px;
  margin: 0;
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.autor {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.autor__contact {
  color: $text;
  font-size: 17px;
  line-height: 20px;
}
