.social {
  display: flex;
  justify-content: space-between;
  width: 142px;
}

.social__link:hover .social__link-img {
  fill: $color-aqua;
}

.social__link:active .social__link-img {
  fill: rgba($color-aqua, 0.3);
}
