.social {
  display: flex;
  justify-content: space-between;
  width: 142px;
}

.social__link {
  color: $color-black;

  &:hover {
    color: $color-aqua;
  }

  &:focus {
    color: rgba($color-aqua, 0.3);
  }
}
