.video {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-image: url("../../img/catalog-images/video-promo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  @include tablet() {
    height: 455px;
  }
}

.video__button {
  height: 77px;
  width: 100px;
  background: url("../../img/button-images/play.svg") no-repeat;
  border-radius: 19px;
  border: none;
}
