//T Text
$base-color: rgba(0, 0, 0, 1);
$sub-title: rgba(99, 209, 187, 1);
$text: rgba(68, 68, 68, 1);
$text-input: rgba(0, 0, 0, 0.3);
$text-button-light: rgba(255, 255, 255, 1);

// Border
$border: rgba(229, 229, 229, 1);
$border-field: rgba(98, 209, 186, 1);
$border-item: rgba(236, 236, 236, 1);

// Background button
$background-button-info1: rgba(99, 209, 187, 1);
$background-button-info2: rgba(86, 195, 178, 1);
