// Color
$color-white: #ffffff;
$color-white-dark: #f1f1f1;
$color-black: #000000;
$color-aqua: #63d1bb;
$color-aqua-dark: #56c3b2;
$color-gray: #f9f9f9;
$color-gray-dark: #444444;
$color-gray-light: #e5e5e5;

// Background
$background: rgba($color-white-dark, 1);

// Text
$base-color: rgba($color-black, 1);
$sub-title: rgba($color-aqua, 1);
$text: rgba($color-gray-dark, 1);
$text-input: rgba($color-black, 0.3);
$text-button-light: rgba($color-white, 1);

// Border
$border: rgba($color-gray-dark, 1);
$border-field: rgba($color-aqua, 1);
$border-item: rgba($color-gray-light, 1);

// Background button
$background-button-info-first: rgba($color-aqua, 1);
$background-button-info-second: rgba($color-aqua-dark, 1);
