@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-only() {
  @media (min-width: 768px) and (max-width: 1149px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1150px) {
    @content;
  }
}
