.button {
  box-sizing: border-box;
  display: inline-flex;
  font-family: inherit;
  margin: 0;
  justify-content: center;
  text-decoration: none;
  color: $text;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;

  &--primary {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 20px;
    border: 2px solid $border;

    @include tablet() {
      font-size: 17px;
    }

    &:hover,
    &:focus-within {
      background-color: $color-gray-dark;
      color: $color-white;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  &--secondary {
    color: $color-white;
    padding: 18px 20px;
    font-size: 17px;
    line-height: 16px;
    background-color: $background-button-secondary;
  }
}
