.button {
  box-sizing: border-box;
  display: inline-flex;
  padding: 18px 11px;
  margin: 0;
  justify-content: center;
  text-decoration: none;
  color: $text;
  border: none;
  text-transform: uppercase;
  font-weight: 700;

  &--primary {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    border: 2px solid $border;

    @include tablet() {
      font-size: 17px;
    }
  }

  &--secondary {
    color: $color-white;
    font-size: 17px;
    line-height: 16px;
  }
}
