.input-radio {
  display: flex;
  position: relative;
  padding-left: 61px;
  min-height: 42px;
  align-items: center;

  @include tablet() {
    min-height: 52px;
    padding-left: 78px;
  }

  @include desktop() {
    padding-left: 80px;
  }
}

.input-radio::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: 2px solid $border;
  box-sizing: border-box;
  height: 42px;
  width: 42px;
  border-radius: 100%;

  @include tablet() {
    height: 52px;
    width: 52px;
  }
}

.input-radio:not(:first-of-type) {
  margin-top: 11px;

  @include tablet() {
    margin-top: 24px;
  }
}
