.input-checkbox {
  &:hover .input-checkbox__checkbox,
  &:focus-visible .input-checkbox__checkbox {
    border-color: $color-aqua;
  }
}

.input-checkbox:not(:first-of-type) {
  margin-top: 23px;

  @include tablet() {
    margin: 0;
  }
}

.input-checkbox__label {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

.input-checkbox__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  border: 2px solid $border;
  height: 38px;
  width: 38px;
  margin-right: 23px;

  @include tablet() {
    height: 52px;
    width: 52px;
    margin-right: 30px;
  }
}

.input-checkbox__input:checked + .input-checkbox__checkbox::before {
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../../img/background-images/checked-mobile.png");
  background-repeat: no-repeat;
  background-position: center;

  @include tablet() {
    background-image: url("../../img/background-images/checked-tablet.png");
    width: 31px;
    height: 22px;
  }
}
