.input-radio {
  &:hover .input-radio__radio,
  &:focus-visible .input-radio__radio {
    border-color: $color-aqua;
  }
}

.input-radio__label {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @include tablet() {
    font-size: 19px;
    line-height: 18px;
  }
}

.input-radio__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  min-width: 42px;
  border: 2px solid $color-black;
  border-radius: 100%;
  margin-right: 16px;
  box-sizing: border-box;

  @include tablet() {
    min-height: 52px;
    min-width: 52px;
    margin-right: 25px;
  }
}

.input-radio__input:checked + .input-radio__radio::before {
  background-color: $color-aqua;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 100%;

  @include tablet() {
    height: 23px;
    width: 23px;
  }
}

.input-radio:not(:first-of-type) {
  margin-top: 11px;

  @include tablet() {
    margin-top: 24px;
  }
}
