.input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: $base-color;
  padding: 20px 10px 14px 0;
  width: 100%;
  border-bottom: 2px solid $base-color;
  background: transparent;

  @include tablet() {
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 14px;
  }

  &::placeholder {
    color: $placeholder;
  }

  &:hover,
  &:focus-within {
    border-color: rgba($color-aqua, 0.6);
  }

  &:active,
  &:focus {
    border-color: rgba($color-aqua, 1);
  }
}
