.wave {
  @include tablet() {
    background-image: url("../img/background-images/wave-tablet.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  @include desktop() {
    background-image: url("../img/background-images/wave-desktop.svg");
  }
}
