.title {
  &--large {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;

    @include tablet() {
      font-size: 43px;
      line-height: 50px;
    }

    @include desktop() {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &--medium {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;

    @include tablet() {
      font-size: 43px;
      line-height: 50px;
    }

    @include desktop() {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &--little {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;

    @include tablet() {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
